<div class="text-content">
  <h2>Free shipping on purchases of $150 usd</h2>
</div>
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid contenedor-general">
    <div class="navbar-logo">
      <a routerLink="/" class="nav-link">
        <img src="../../assets/img/logos/border-logo.png" alt="Logo Negro" />
      </a>
    </div>
    <div class="icons-group">
      <div class="heart-icon" routerLink="/wishlist">
        <i class="fa-solid fa-heart"></i>
      </div>
      <div class="cart-icon" (click)="toggleCart()">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <div class="user-icon" routerLink="/login">
        <i class="fas fa-user"></i>
      </div>
    </div>
    <button class="bars-btn d-lg-none" type="button" (click)="toggleSideMenu()">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</nav>

<app-cart *ngIf="cartService.isCartOpen$"></app-cart>
<app-side-menu *ngIf="sideMenuService.isSideMenuOpen$"></app-side-menu>
