.text-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorPrimario);
  height: 30px;
  width: 100%;
  padding: 5px;

  h2 {
    font-size: 15px;
    text-transform: uppercase;
    color: var(--colorSecundario);
    font-weight: 700;
    font-family: var(--fuentePrincipal);
    margin: 0;
  }

  @media (max-width: 680px) {
    h2 {
      font-size: 12px;
    }
  }
}

.navbar {
  text-align: center;
  font-family: var(--fuentePrincipal);
  padding: 15px 5px;

  @media (min-width: 1024px) {
    padding: 15px 20px;
  }
}

.navbar-logo {
  img {
    width: 43px;

    @media (max-width: 960px) {
      width: 35px;
    }
  }
}

.icons-group {
  display: flex;
  align-items: center;
  margin-left: auto;

  .cart-icon, .heart-icon, .user-icon {
    font-size: 23.5px;
    cursor: pointer;
    color: var(--colorPrimario);
    transition: ease-in 0.3s;
    margin: 0 10px;

    &:hover {
      transform: scale(1.1);
    }

    @media (min-width: 1024px) {
      font-size: 20px;
    }
  }

  @media (max-width: 1024px) {
    .user-icon {
      display: none;
    }
  }
}

.bars-btn {
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--colorPrimario);
  display: none;

  i {
    font-size: 25px;
  }

  @media (max-width: 1024px) {
    display: block;
  }
}

.nav-link {
  color: var(--colorPrimario);
  font-size: 18px;
  transition: ease-in 0.2s;

  &:hover {
    transform: scale(1.08);

    &:first-child {
      transform: none;
    }
  }
}

.overlay,
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  transition: background-color 10s ease;
}

.overlay.active,
.cart-overlay.active {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.contenedor-general {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (max-width: 1024px) {
    .navbar-logo {
      order: 2;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      width: auto;

      img {
        margin: 0 auto;
      }
    }

    .cart-icon,
    .heart-icon {
      order: 3;
    }

    .bars-btn {
      order: 1;
    }

    .user-icon {
      display: none;
    }
  }

  @media (min-width: 1024px) {
    .navbar-logo {
      margin-right: auto;
    }

    .icons-group {
      margin-left: auto;
    }
  }

  @media (max-width: 767px), (min-width: 768px) and (max-width: 1023px) {
    .navbar-logo {
      order: 2;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .icons-group {
      order: 3;
      margin-left: auto;
    }

    .bars-btn {
      order: 1;
      margin-right: auto;
    }
  }
}
