.product-container {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  padding: 50px;
  gap: 70px;
}

.product-images-sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0; /* Evita que la barra lateral se reduzca */
}

.product-images-sidebar .thumbnail {
  cursor: pointer;
}

.product-images-sidebar .thumbnail img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.product-images-sidebar .thumbnail img.selected {
  opacity: 1;
}

.product-image-main {
  display: flex;
  justify-content: center; /* Centra la imagen principal horizontalmente */
  align-items: center; /* Centra la imagen principal verticalmente */
  flex-shrink: 0;
}

.product-image-main img {
  max-width: 700px; /* Ajusta el tamaño máximo de la imagen */
  height: auto;
  transition: transform 0.5s;
}

.product-info {
  max-width: 600px;
  flex-grow: 1; /* Permite que la información del producto crezca */
}

.product-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.price {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.color-options, .size-options {
  margin-bottom: 20px;
}

.colors, .sizes {
  display: flex;
  gap: 10px;
}

.color, .size {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  transition: background-color 0.3s, color 0.3s;
}

.colors span:hover,
.sizes span:hover {
  background-color: #000;
  color: #fff;
}

.colors span.selected,
.sizes span.selected {
  background-color: #000;
  color: #fff;
}

.size-guide {
  display: block;
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.sizes {
  display: flex;
  gap: 10px;
}

.sizes span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  line-height: 40px;  // Ajusta para centrar verticalmente
  transition: background-color 0.3s, color 0.3s;
}

.sizes span:hover {
  background-color: #000;
  color: #fff;
}

.sizes span.selected {
  background-color: #000;
  color: #fff;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.add-to-bag, .add-to-wishlist {
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.add-to-bag {
  background-color: black;
  color: white;
  padding: 10px;
  border: none; // Asegúrate de que el borde esté en none
  box-sizing: border-box; // Añade esto para asegurar el tamaño correcto
  border-radius: 5px;
}

.add-to-bag:hover {
  background-color: white;
  color: black;
  border: none; // Asegúrate de que el borde esté en none
  box-shadow: 0 0 0 1px black; // Usa una sombra para simular el borde sin cambiar el tamaño del botón

}

.add-to-wishlist {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.add-to-wishlist:hover {
  background-color: black;
  color: white;
}

.additional-info {
  margin-top: 20px;
}

.info-tab {
  margin-bottom: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.info-tab h3 {
  font-size: 18px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-tab h3 i {
  margin-left: 10px;
  font-size: 16px;
  color: #333; /* Cambia este color según tu diseño */
}

.info-tab p {
  font-size: 14px;
  color: #666;
  margin: 0;
  padding: 10px 0;
}
