<div class="product-container" *ngIf="product">
  <div class="product-images-sidebar">
    <div class="thumbnail" *ngFor="let image of productImages; let i = index" (click)="selectImage(image, i)">
      <img [src]="assetsBasePath + '/product-gallery-images/' + image" [class.selected]="image === selectedImage" alt="{{ product.name }}">
    </div>
  </div>

  <div class="product-image-main">
    <img [src]="assetsBasePath + '/product-gallery-images/' + selectedImage" [class]="animationClass" [alt]="product.name" (animationend)="onAnimationEnd()">
  </div>

  <div class="product-info">
    <h1>{{ product.name }}</h1>
    <p class="price">{{ product.price | currency }} MXN</p>

    <div class="color-options">
      <div class="color-text">
        <h3>Color:</h3>
        <p>{{ selectedColor.color_name || 'No color selected' }}</p>
      </div>
      <div class="colors">
        <span
        *ngFor="let color of product.colors"
        class="color-selector"
        [class.selected]="selectedColor === color"
        (click)="selectColor(color)"
        [style.background-color]="color.hex_code">
          <span *ngIf="selectedColor === color" class="check-icon">✔</span>
        </span>
      </div>
    </div>

    <div class="size-options" *ngIf="selectedColor.sizes && selectedColor.sizes.length > 0">
      <h3>Tamaño (Oversize Fit)</h3>
      <div class="sizes">
        <span
          *ngFor="let size of selectedColor.sizes"
          [class.selected]="size === selectedSize"
          (click)="selectSize(size)">
          {{ size }}
        </span>
      </div>
    </div>

    <div class="action-buttons">
      <button class="add-to-bag" (click)="addToCart()">Añadir al carrito</button>
      <button class="add-to-wishlist" (click)="addToWishlist()">{{ addToWishlistText }}</button>
    </div>

    <div class="additional-info">
      <div class="info-tab" (click)="toggleSection('description')">
        <h3>Descripción</h3>
        <p>+</p>
      </div>
      <div class="info-content-container" [class.open]="isSectionVisible('description')">
        <div class="info-content">
          <p>{{ product.description }}</p>
        </div>
      </div>
      <div class="line" [class.open]="isSectionVisible('description')"></div>
    </div>
  </div>
</div>
