.product-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 45px;
  padding: 50px;
  background-color: var(--colorSecundario);
}

.product-images-sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
}

.product-images-sidebar .thumbnail {
  cursor: pointer;
}

.product-images-sidebar .thumbnail img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.product-images-sidebar .thumbnail img.selected {
  opacity: 1;
}

.product-image-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.product-image-main img {
  max-width: 700px;
  height: auto;
  transition: transform 0.5s;
}

.product-info {
  max-width: 600px;
  flex-grow: 1;
}

.product-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: var(--fuentePrincipal);
  font-weight: 700;
}

.price {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  font-family: var(--fuentePrincipal);
  color: green;
  font-weight: 500;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.color-options, .size-options {
  margin-bottom: 20px;

  h3 {
    font-family: var(--fuentePrincipal);
  }
}

.colors, .sizes {
  display: flex;
  gap: 10px;
}

.colors span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  transition: background-color 0.3s, color 0.3s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.colors span:hover {
  background-color: #000;
  color: #fff;
}

.colors span.selected {
  background-color: #000;
  color: #fff;
}

.color-selector {
  padding: 20px;
  opacity: 0.8;
  border-radius: 3px;
}

.sizes span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%; /* Hacer los selectores de tallas redondos */
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  line-height: 40px;  // Ajusta para centrar verticalmente
  transition: background-color 0.3s, color 0.3s;
}

.sizes span:hover {
  background-color: #000;
  color: #fff;
}

.sizes span.selected {
  background-color: #000;
  color: #fff;
}

.size-guide {
  display: block;
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  font-family: var(--fuentePrincipal);
}

.add-to-bag, .add-to-wishlist {
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
  height: 55px;
}

.add-to-bag {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.add-to-bag:hover {
  background-color: white;
  color: black;
}

.add-to-wishlist {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.add-to-wishlist:hover {
  background-color: black;
  color: white;
}

.additional-info {
  margin-top: 20px;
}

.info-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: color 0.3s;
  border-bottom: none;
  padding: 0 10px;
  text-transform: uppercase;
}

.info-tab h3 {
  font-size: 18px;
  transition: color 0.3s;
  margin-right: auto;
  font-family: var(--fuentePrincipal);
}

.info-tab:hover h3, .info-tab:hover i {
  color: red;
}

.info-tab i {
  margin-left: auto; /* Asegura que el icono esté alineado a la derecha */
}

.info-content-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.info-content-container.open {
  max-height: 1000px; /* Ajusta esto según el contenido */
  opacity: 1;
}

.info-content {
  padding: 10px 0; /* Ajusta el padding según sea necesario */
}

.line {
  height: 1px;
  background-color: #ccc;
  transition: transform 0.3s ease-out;
  transform-origin: top;
}

// .info-content-container.open + .line {
//   transform: translateY(20px); /* Ajusta esto según la altura del contenido */
// }

.info-content-container + .line {
  margin-top: 10px; /* Añade un margen superior para separar la línea del contenido */
}



/* Media Queries para dispositivos móviles y tabletas */
@media (max-width: 1024px) {
  .product-container {
    display: flex;
    justify-content: center;
    padding: 48px;
    gap: 70px;
  }

  .product-images-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
  }

  .product-images-sidebar .thumbnail img {
    width: 80px;
    height: 80px;
  }

  .product-image-main {
    order: 2;
    margin-bottom: 20px;
  }

  .product-image-main img {
    max-width: 500px;
  }

  .product-info {
    order: 3;
    max-width: 100%;
    text-align: left;
  }

  .product-info h1 {
    font-size: 18px;
  }

  .price {
    font-size: 16px;
  }

  .description {
    font-size: 12px;
  }

  .color-options, .size-options {
    margin-bottom: 15px;
  }

  .colors span, .sizes span {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .action-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .add-to-bag, .add-to-wishlist {
    flex: 1;
    font-size: 15 px;
    padding: 6px;
  }

  .info-tab h3 {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
  }

  .product-images-sidebar {
    order: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    overflow-x: auto;
    width: 100%;

    @media (max-width: 680px) {
        margin: 6px 0 0;
    }
  }

  .product-images-sidebar .thumbnail img {
    width: 60px;
    height: 60px;
  }

  .product-image-main {
    order: 2;
    margin-bottom: 20px;
    width: 100%; /* Asegura que la imagen principal ocupe todo el ancho */
    display: flex;
    justify-content: center;
  }

  .product-image-main img {
    max-width: 100%;
    height: auto;
  }

  .product-info {
    order: 3;
    max-width: 100%;
    text-align: center;
  }

  .product-info h1 {
    font-size: 18px;
  }

  .price {
    font-size: 16px;
  }

  .description {
    font-size: 12px;
  }

  .color-options, .size-options {
    margin-bottom: 15px;
  }

  .colors span, .sizes span {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .colors, .sizes {
    justify-content: center;
  }

  .action-buttons {
    flex-direction: row;
    justify-content: center;
  }

  .add-to-bag, .add-to-wishlist {
    font-size: 12px;
    padding: 6px;

  }

  .info-tab h3 {
    font-size: 14px;
  }
}

