@import "~@fortawesome/fontawesome-free/css/all.css";

:root {

  --colorPrimario: #0F151B;
  --colorSecundario: #F5F5F5;

  --fuentePrincipal: 'Outfit', sans-serif;

}

.contenedor-general {
  width: 1200px;
  margin: 0 auto;
}



