@import "~@fortawesome/fontawesome-free/css/all.css";

:root {

  --fuentePrincipal: "Outfit", sans-serif;
  --fuenteSecundaria: "Heebo", sans-serif;

  --colorPrimario: #0F151B;
  --colorSecundario: #F5F5F5;


}
