<div class="brands">
  <div class="brands-container" *ngFor="let brand of brands">
    <div class="brand">
      <div class="image-container">
        <img [src]="getBrandsBannerImageUrl(brand)" [alt]="brand.name">
        <div class="overlay"></div>
        <div class="brand-info">
          <p class="brand-name">{{ brand.name }}</p>
          <button class="view-more-button" (click)="navigateToBrand(brand.id)">Ver más</button>
        </div>
      </div>
    </div>
    <div class="brand-products-container">
      <div class="image-product-brand">
        <img [src]="getBrandsImageUrl(brand)" [alt]="brand.name">
      </div>
      <div class="products-container">
        <div class="product" *ngFor="let product of brand.products">
          <div class="product-img"
               (mouseenter)="onMouseEnter(product)"
               (mouseleave)="onMouseLeave(product)">
            <img [src]="product.currentImageUrl" [alt]="product.name">
          </div>
          <div class="product-name">
            <h4>{{ product.name }}</h4>
          </div>
          <div class="product-price">
            <p>{{ product.price | currency }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
