<div class="side-menu" [class.open]="isOpen">
  <div class="btn-close-container">
    <i class="fas fa-times fa-2x" (click)="closeSideMenu()"></i>
  </div>
  <ul>
    <div class="menu-item">
      <li><a routerLink="/" (click)="closeSideMenu()">Inicio</a></li>
      <li><a routerLink="/" (click)="closeSideMenu()">Marcas</a></li>
      <li><a routerLink="/" (click)="closeSideMenu()">Categorías</a></li>
      <li><a routerLink="/" (click)="closeSideMenu()">Productos</a></li>
      <li><a routerLink="/" (click)="closeSideMenu()">Mis Pedidos</a></li>
      <li *ngIf="!userEmail"><a routerLink="/login" (click)="closeSideMenu()">Iniciar Sesión</a></li>
    </div>
  </ul>
  <div class="account-container" *ngIf="userEmail">
    <div class="current-mail">
      <p>{{ userEmail }}</p>
    </div>
    <div class="sign-out-btn" (click)="logOut()">
      <p>Cerrar Sesión</p>
    </div>
  </div>
</div>
<div class="overlay" *ngIf="isOpen" (click)="closeSideMenu()"></div>
