<div class="side-menu" [class.open]="isOpen">
  <div class="btn-close-container">
    <svg
      class="close-icon"
      width="50"
      height="50"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      viewBox="0 0 24 24"
      (click)="closeSideMenu()"
    >
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </div>
  <ul>
    <div class="menu-item">
      <li><a routerLink="/" (click)="closeSideMenu()">Inicio</a></li>
      <li><a routerLink="/" (click)="closeSideMenu()">Marcas</a></li>
      <li><a routerLink="/" (click)="closeSideMenu()">Categorías</a></li>
      <li><a routerLink="/" (click)="closeSideMenu()">Productos</a></li>
      <li><a routerLink="/" (click)="closeSideMenu()">Mis Pedidos</a></li>
      <li *ngIf="!userEmail"><a routerLink="/login" (click)="closeSideMenu()">Iniciar Sesión</a></li>
    </div>
  </ul>
  <div class="account-container" *ngIf="userEmail">
    <div class="current-mail">
      <p>{{ userEmail }}</p>
    </div>
    <div class="sign-out-btn" (click)="logOut()">
      <p>Cerrar Sesión</p>
    </div>
  </div>
</div>
<div class="overlay" *ngIf="isOpen" (click)="closeSideMenu()"></div>
